@property --ascii-loader {
    syntax: 'off | system26 | cats';
    inherits: false;
    initial-value: system26;
}

@container body style(--ascii-loader: system26) {
    .content_a2f514 {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .content_a2f514 > .spinner_a2f514 {
        display: none;
    }
    .content_a2f514::before {
        display: block;
        content: '   _____           __                  ________  _   __ ____  __  _________ \A  / ___/__  ______/ /____ _____  ____   / ____/ /  / | / / __ \\/  |/  / ____/\A  \\__ \\/ / / / ___/ __/ _ \\/ __ \\/ __ \\ / /_  / /   /  |/ / / / / /|_/ / __/   \A ___/ / /_/ (__  ) /_/  __/ / / / /_/ // __/ / /___/ /|  / /_/ / /  / / /___   \A/____/\\__, /____/\\__/\\___/_/ /_/\\____//_/   /_____/_/ |_/\\____/_/  /_/_____/   \A     /____/                                                                  ';
        font-size: 16px;
        font-family: monospace;
        white-space: pre;
        line-height: 1.2;
        /* Синій GTK4 градієнт */
        background: linear-gradient(to right, #3584e4 0%, #62a0ea 25%, #99c1f1 75%, #3584e4 100%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 200% auto;
        animation: textShine 1.5s linear infinite reverse;
    }
    .text_a2f514 {
        position: static;
    }

    @keyframes textShine {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        50.0001% {
            background-position: -100%, 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
}

@container body style(--ascii-loader: cats) {
    .content_a2f514 {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 32px;
        position: static;
    }
    .content_a2f514 > .spinner_a2f514 {
        display: none;
    }
    .content_a2f514::before {
        display: block;
        content: url('https://raw.githubusercontent.com/refact0r/system24/refs/heads/main/assets/cats.gif');
    }
    .text_a2f514 {
        position: static;
    }
}
